@import url('https://fonts.googleapis.com/css?family=Poor+Story');

html, body, div, span, applet, object, iframe, img, tr, th, td, article, canvas,
details, embed, figure, footer, header, menu, nav, output, section, summary {
    margin: 0;
    border: 0;
    padding: 0;

    font: inherit;
    font-size: 100%;

    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Poor Story', cursive;
}

.section {
    text-align: center;

    font-size: 3em;
}

@media screen and (max-width: 736px) {
    .section img {
        width: 75%;
    }
}

@media screen and (min-width: 737px) {
    .section img {
        width: 25%;
    }
}

.fullscreen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#menu {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 70;

    width: 100%;
    height: 40px;

    padding: 0;
    margin: 0;
}

#menu li {
    display: inline-block;

    color: #000;
    background: rgba(255, 255, 255, 0.5);

    border-radius: 10px;
    margin: 10px;
}

#menu li a {
    text-decoration: none;
    color: #000;
}

#menu li.active a: hover {
    color: #000;
}

#menu li: hover {
    background: rgba(255, 255, 255, 0.8);
}

#menu li a {
    padding: 9px 18px;
    display: block;
}
